<html lang="en">
  {{!-- Header --}}
  {{>head}}
  <body>
    {{!-- Navbar --}}
    {{>navbar}}
    <div class="container">
    {{!-- Body --}}
    {{{body}}}
    </div>
    {{!-- Footer --}}
    {{>footer}}
  </body>
</html>